html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
  color: white;
  background: blue;

}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}
.message-format{
  float: left;
  width: 50%;
}
.cookie-format{
  float: right;
  width: 50%;
}
.filter-format{
  position: absolute;
  top: 90px;
  left:10px;
  height: 25px;
  width: 150px;
}
.messages-container{
float: inherit;;
width: 50%;
}
